@using BonsaiShop.Ultilities;
@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<BonsaiShop.Models.Product>;
@{
	ViewData["Title"] = ViewBag.CategoryName;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="left-sidebar-layout detail-section container-section">
	<div class="container">
		<div class="content-box">
			<div class="row	">
				<div class="col-xl-3 col-lg-3 col-md-12">
					<partial name="~/Views/Shared/LeftSidebarProductPartialView.cshtml" />
				</div>
				<div class="col-xl-9 col-lg-9 col-md-12">
					<div class="main-content-box">
						<div class="breadcrumb-header">
							<a href="">Trang chủ</a>
							<span>></span>
							<a href="">Sản phẩm</a>
							<span>></span>
							<a href="">Quần áo</a>
						</div>
					</div>

					<section class="featureSec main-content-box container overflow-hidden mt-3 pt-xl-11 pb-xl-18 pt-lg-10 pb-lg-20 pt-md-8 pb-md-16 pt-5 pb-5">
						<div class="row">
							<!-- mainHeader -->
							<header class="col-12 mainHeader mb-4 text-center">
								<h1 class="headingIV playfair fwEblod mb-4">@ViewBag.CategoryName</h1>
								<span class="headerBorder d-block mb-5"><img src="/client/images/hbdr.png" alt="Header Border" class="img-fluid img-bdr"></span>
							</header>
						</div>
						<div class="row">
							@foreach(var item in Model)
							{
								var url = Functions.UrlLink(item.ProductName, item.ProductId);
								<div class="col-12 col-sm-12 col-lg-4 featureCol position-relative mb-6">
									<div class="border">
										<div class="imgHolder position-relative w-100 overflow-hidden">
											<img src="~/images/@item.ProductImage" alt="image description" class="img-fluid w-100">
											<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
												<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
												<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" data-productid="@item.ProductId" class="addcart-btn icon-cart d-block"></a></li>
												<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
												<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
											</ul>
										</div>
										<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">
											<span class="title d-block mb-2"><a href="/san-pham/@url">@item.ProductName</a></span>
											<span class="price d-block fwEbold mb-1">@String.Format("{0:0,0 đ}", item.ProductPrice) </span>
											<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">Hot</span>
										</div>
									</div>
								</div>
							}
							<div aria-label="Page navigation example" class="text-center mt-3 align-items-center">
								<ul class="pagination text-center d-inline-block">
									<pager class="pager-container" list="@Model" asp-route-id="@ViewBag.CategoryId" asp-controller="Product" asp-action="ProductByCategory" />
								</ul>
							</div>
						</div>
					</section>

					@*<div class="main-content-box mt-3">
						<div class="row">
							
						</div>
					</div>*@
				</div>
			</div>
		</div>
	</div>
</section>

